header{
    height: 65px;
    width: 100%;
    background-color: black;
}

.logo{
    width: 80px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

.header-right{
    float: right;
    background-color: #e1b12c;
}
.top-wrapper {
    padding-top: 75px;
    padding-bottom: 400px;
    background-image: url(file:///D:/Projek%201/background-logo.svg);
    background-size: cover;
}

.tittle-wrapper{
    color: #e1b12c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 2px 1px black;
    margin-left: 15px;
    letter-spacing: 5px;
    border-radius: 4px;
}

textarea{
    padding: 1px 15px;
    margin-left: 15px;
    float: left;
}
.contact-submit{
    background-color: #e1b12c;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;
    padding: 4px;
    letter-spacing: 5px;
    margin-top: 5px;
    float: left;
}